/* Roboto Light */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', Arial, sans-serif;
}

.hidden {
  display: none;
}

.datepicker {
  width: 300px;

  &.with-border {
    border: 1px solid #eeeeee;
  }
}

.datepicker-head {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;

  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    cursor: pointer;
    // position: absolute;
    
    // color: #000000;
    &.right {
      transform: rotate(45deg);
    }
  
    &.left {
      transform: rotate(-135deg);
    }
  
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: #000000;
      display: block;
      // transform-origin: 100% 0;
    }
  }

  .wrapper {
    padding: 0 .5rem;
  }
}

.datepicker-body {
  display: flex;
  flex-flow: wrap;

  .date-body, .month-grid, .year-grid {
    display: inline-block;
    flex: 0 0 14.285%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    &.non-active {
      color: #eeeeee;
    }

    &.current {
      color: #db3d44;
    }

    &.selected {
      background: #db3d44;
      border-radius: 50%;
      color: #ffffff;
    }
  }

  .month-grid, .year-grid {
    flex: 0 0 25%;
  }
}
